@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@400;500&display=swap');

:root {
  --dark-blue: #10153E;
  --violet: #60679F;
  --violet-shadow: rgba(96, 103, 159, .2);
  --gray: #E3E5F1;
  --light-gray: #F7F7FA;
  --white: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: var(--gray);
}

.cardContainer {
  position: relative;
}

.cardContainer .shape {
  position: absolute;
  top: -72px;
  left: -72px;
  width: 420px;
  height: 548px;
  border-radius: 32px;
  background: var(--violet);
}

.cardContainer .card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 53px;
  border-radius: 32px;
  background: var(--white);
  box-shadow: 0 32px 64px var(--violet-shadow);
  z-index: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info .title {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  color: var(--dark-blue);

}

.info .details {
  display: flex;
  gap: 56px;
  padding: 25px;
  background: var(--light-gray);
  border-radius: 16px;
  border: 1px solid #E3E5F1;
}

.details .detail {
  display: grid;
  gap: 8px;
}

.details .detail .type {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--violet);
  font-size: 14px;
  font-weight: 500;
}

.details .detail .value {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-blue);
}

.timeline .time {
  display: flex;
  gap: 14px;
}

.time .progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}

.time .progress .circle {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--violet);
  background: var(--light-gray);
}

.time.active .progress .circle {
  border: 4px solid var(--violet);
  background: var(--white);
}

.time .progress .line {
  display: block;
  height: calc(100% - 20px);
  width: 1px;
  background: var(--violet);
  flex: 1;
}

.time .content {
  width: 90%;
  display: grid;
  gap: 8px;
  padding-bottom: 20px;
}

.time .content .text {
  width: 447px;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-blue);
}

.time .content .date {
  font-size: 12px;
  font-weight: 400;
  color: var(--violet);
}