* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-description {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.project-description a {
  color: #000;
}